workspace
__pycache__
__verbose_out__
dist/
build/
site/
*.egg-info/
.arox*
!.arox.config.toml
.coverage
.tox
.venv

.aider*
!.aider.conf.yml
!.aider.instructions.md
.claude

*.testres

pyrightconfig.json

prof/
